*~
controller_rocky/manifests/params.pp
controller_rocky/files/id_rsa_ctrl-01
controller_rocky/files/id_rsa_controller-01
controller_rocky/files/INFN-CA.pem
controller_rocky/files/cafile.pem
controller_rocky/files/ceph.conf
controller_rocky/files/ceph.client.cinder-prod.keyring
controller_rocky/files/ceph.client.cinder-cloudtest.keyring
controller_rocky/files/ceph.client.glance-prod.keyring
controller_rocky/files/ceph.client.glance-cloudtest.keyring
compute_rocky/manifests/params.pp
compute_rocky/files/id_rsa_ctrl-01
compute_rocky/files/id_rsa_controller-01
compute_rocky/files/INFN-CA.pem
compute_rocky/files/cafile.pem
compute_rocky/files/ceph.conf
compute_rocky/files/nagios_check_ovs.sh
compute_rocky/files/check_kvm_wrapper.sh
compute_rocky/files/secret.xml
compute_rocky/files/secret_test.xml
